* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: white;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  position: sticky;
  font-size: 17px;
  width: 100vw !important;
}
.nav::before,
.nav::after {
  content: "";
  display: none;
}
#burger,
#cancel {
  display: none;
}
.navbarimg img {
  width: 180px;
  height: 50px;
}
.navbarlist ul {
  display: flex;
  list-style: none;
}
.navbarlist li {
  padding: 0px 25px;
}
.navbarlist a {
  color: #6a6a6a;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}
.navbarlist a:hover {
  color: #28a9fe;
}
#cancel,
#burger {
  display: none;
}
.arrow {
  background-color: #fe403b;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 3px;
  margin-top: 60px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: white;
}
.drop13 {
  display: none;
}
.drop13 ul {
  color: #6a6a6a;
  border-radius: 5px;
  display: block;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 125px;
  z-index: 1;
  box-shadow: 0px 1.3px 1.6px 0.5px;
  top: 20px;
  left: 0;
}
.drop13 li {
  padding: 15px 0px;
  text-align: center;
  background-color: white;
}
.drop13 a {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
}
.arrow-rt {
  transform: rotate(180deg);
}
.drop-show {
  display: block;
}
li hr {
  display: none;
}

/* footer */

#footer {
  position: relative;
  font-family: sans-serif;
  padding: 30px;
  background-color: #fff;
  margin-top: 3rem;
  border-top: 1px solid grey;
}
.footer0 {
  display: flex;
  justify-content: space-between;
}
.footer1 img {
  width: 308px;
  height: 90.23px;
}
.footer22 {
  display: flex;
  justify-content: space-between;
}
.footer1 {
  width: 40%;
}
.footer1 p {
  color: #6a6a6a;
  font-size: 18px;
  font-weight: 400px;
  line-height: 21.94px;
}
.copyright h5 {
  color: #6a6a6a;
  font-size: 18px;
  font-weight: 400px;
  line-height: 21.94px;
  margin-top: 60px;
}
.footer2 ul,
.footer3 ul {
  list-style: none;
}

.footer2 li,
.footer3 li {
  padding: 10px 0px;
}
.footer2 {
  margin-right: 250px;
}

.footer2 a,
.footer3 a {
  text-decoration: none;
  color: #6a6a6a;
  font-size: 18px;
  line-height: 21.6px;
}
.link i {
  border: 1.5px solid #222221;
  border-radius: 50px;
  padding: 5px;
  margin: 20px 5px 0px 5px;
  color: #222221;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer2 p,
.footer3 p {
  font-weight: 600;
  size: 24px;
  line-height: 29.26px;
}

@media (max-width: 800px) {
  .nav {
    padding: 10px;
    height: 45px;
  }
  #burger,
  #cancel {
    display: block;
    color: #222221;
    width: 30px;
    height: 6px;
    margin-bottom: 20px;
  }
  #cancel {
    display: none;
  }
  .navbarlist > ul {
    background-color: #fff;
    width: 100vw;
    line-height: 54px;
    text-align: center;
    display: block;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 20;
    transform: translateY(-100vh);
    transition: 0.7s ease;
  }
  .main-list > li {
    width: 100vw;
    display: block;
    padding: 0;
    border-bottom: 1px solid grey;
  }
  .main-list a {
    display: block;
    padding: 0;
    width: 100%;
  }
  li hr {
    display: block;
    height: 0.2px;
    margin: 0;
    background-color: grey;
    width: calc(100vw + 1.5rem) !important;
  }
  .navbarimg img {
    width: 110px;
    height: 35px;
  }
  .drop13 ul {
    width: 100vw;
    position: relative;
    box-shadow: none;
    top: 0;
    margin: 0;
  }
  .drop13 li {
    padding: 0 1rem;
    margin: auto;
  }

  /* footer */
  #footer {
    padding: 30px;
  }
  .footer1 img {
    width: 148.63px;
    height: 43.54px;
  }
  .footer0 {
    flex-direction: column-reverse;
  }
  .footer2,
  .footer3 {
    margin: 0px;
  }

  .footer1 {
    width: 70%;
  }

  .footer1 p {
    font-size: 8.3px;
  }
  .footer2 a,
  .footer3 a {
    font-size: 9.83px;
  }
  .footer2 p,
  .footer3 p {
    font-size: 15.16px;
  }
  .footer2 li,
  .footer3 li {
    padding: 3px 0px;
  }

  .copyright h5 {
    font-size: 12px;
    font-weight: 400px;
    line-height: 11.61px;
  }
}
