* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --pri-color: rgba(255, 174, 0, 0.863);
}
body {
  background-color: white;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}
main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  position: relative;
  min-width: 100vw;
}

/* section style */
section {
  display: none;
  height: 100vh;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 32%;
  overflow: hidden;
  margin-right: 2rem;
  padding: 0.7rem;
  color: white;
  background-color: var(--pri-color);
}
.tri,
.square,
.circle,
.sq2 {
  position: absolute;
  background-color: rgb(247, 213, 119);
  z-index: -1;
}

.tri {
  width: 60px;
  height: 60px;
  transform: rotate(95deg) skew(70deg, 70deg);
  top: 10%;
  right: -6rem;
}
.square {
  width: 60px;
  height: 60px;
  transform: rotate(60deg);
  top: 7%;
  left: 4rem;
}
.sq2 {
  width: 40px;
  height: 20px;
  transform: rotate(60deg);
  bottom: 20%;
  right: 3rem;
}
.circle {
  width: 200px;
  height: 230px;
  clip-path: circle(40%);
  bottom: -7rem;
  left: -4rem;
}
section h1,
section p {
  margin: 0.7rem auto;
}

/* form styles */
.form-wrap {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form,
.intro {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.intro {
  justify-content: space-evenly;
  margin: 0.9rem auto;
  align-items: center;
  text-align: center;
}
.intro img {
  height: 70px;
  width: 150px;
}
.intro h1,
section h1 {
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0.5rem auto;
}
.intro p {
  font-size: 0.92rem;
  color: rgb(58, 57, 57);
}

hr {
  width: 80%;
  margin: 0.5rem auto 1.5rem auto;
  border: 1px solid var(--pri-color);
  border-radius: 100%;
}
/* main form */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
select {
  height: 45px;
  border-radius: 5px;
  border: 1px solid grey;
  padding-left: 0.7rem;
  margin: 0.4rem 0;
  width: 100%;
  transition: 0.5s;
  background-color: rgb(253, 253, 253);
}
option {
  padding: 0.5rem auto;
}

input:focus,
select:focus,
label:focus {
  outline: none;
  border: 2px solid var(--pri-color);
  border-radius: 7px;
  box-shadow: 0px 0px 8px rgb(247, 213, 119);
}
.wrap {
  display: flex;
  width: 100%;
}
.stretch {
  justify-content: space-between;
}
.wrap,
.input-wrap {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin: 0.3rem auto;
}
.w50 {
  width: 100%;
}
.w100 {
  width: 100%;
}
fieldset {
  width: 100%;
  border: 1px solid var(--pri-color);
  border-radius: 10px;
  text-align: center;
  margin: 1rem 0;
}
.radio {
  display: flex;
  justify-content: space-evenly;
  justify-self: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.radio-wrap {
  margin: 0.5rem;
}
.signup-btn {
  background-color: var(--pri-color);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 1rem;
  color: white;
  width: 90%;
  font-weight: 600;
  font-size: 1rem;
  margin: 0.5rem auto;
  cursor: pointer;
}
.msg {
  background-color: rgba(4, 182, 4, 0.781);
  border-radius: 10px;
  color: white;
  margin: 0.5rem auto;
  transform: scaleY(0);
  padding: 0.5rem 1rem;
  transform-origin: top;
  width: 95%;
  display: block;
  transition: 0.5s;
}

@media (min-width: 760px) {
  .wrap {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 0.4rem auto;
  }
  .input-wrap {
    justify-content: space-between;
    margin: 0.4rem 0;
    width: 100%;
  }
  .w50 {
    width: 48%;
  }
}

@media (min-width: 1024px) {
  .msg {
    margin: 0.5rem auto 0.5rem 0;
  }
  main {
    justify-content: space-evenly;
  }
  section {
    display: flex;
  }
  form {
    position: absolute;
    top: 0;
    right: 0.3rem;
  }
  .w100,
  fieldset {
    width: 95%;
  }
  form {
    width: 65%;
  }
  .wrap {
    margin: 0.4rem 0;
    width: 95%;
  }
  .intro span,
  .intro br {
    display: none;
  }
  .signup-btn {
    width: 50%;
  }
}
