@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --btn-color: #ffae2e;
  --grey: #696868;
}
body {
  overflow-x: hidden;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}
#nav {
  position: relative;
}
.oops {
  margin: 5rem;
  height: 70vh;
  font-size: 1.6rem;
  text-align: center;
}
/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header h3 {
  color: var(--grey);
}

.header * {
  margin: 0.7rem auto;
}
/* months div */
.months {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: -1px;
  z-index: 80;
  flex-wrap: wrap;
  background: white;
  margin: 0.8rem auto;
  width: 98vw;
  padding: 0 0.3rem;
}

.month {
  color: var(--grey);
  font-weight: 500;
  text-decoration: none;
  margin: 0.6rem;
}

.month:hover {
  color: var(--btn-color);
}

.active {
  background-color: var(--btn-color);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: white;
  box-shadow: 1px 1px 1px var(--grey);
}
.active:hover {
  color: white !important;
}

.text-secondary {
  text-align: center;
  margin: 0.6rem auto 1rem auto;
  color: var(--grey);
  width: 90vw;
  font-weight: 600;
  font-size: 1.3rem;
}

/* images section */
.wrapper {
  width: 90vw;
  margin: 0 auto 4rem auto;
  position: relative;
  z-index: 10;
  height: auto;
}
.about-section {
  font-size: 1.2rem;
}

/* rows */
.row1,
.row2,
.grid-qt-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0.5rem auto;
  height: 35%;
}
.grid-qt img,
.grid-half img {
  width: 100%;
  height: 99%;
  border-radius: 10px;
}
.grid-qt:hover::before,
.grid-half:hover::before {
  display: flex;
  transition: inherit;
}
.grid-qt::before,
.grid-half::before {
  content: "Ecx-Story";
  transition: inherit;
  display: none;
  user-select: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(255, 175, 46, 0.86);
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
}
.grid-half {
  transition: all 1.2s ease;
  width: 98%;
  height: 100%;
  margin: 0.5rem auto;
  position: relative;
}

.grid-qt {
  transition: all 1.2s ease;
  position: relative;
  width: 49%;
  padding: 0 0.2rem;
  height: 100%;
}

@media (min-width: 800px) {
  .grid-qt-wrapper,
  .grid-half,
  .grid-qt {
    width: 49%;
    margin: auto;
  }
  .oops {
    margin: 1rem;
  }
}
