@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --btn-color: #ffae2e;
  --grey: #696868;
}
body {
  overflow-x: hidden !important;
  background-color: white;
  font-family: "Montserrat" "sans-serif";
}
#nav {
  position: relative;
}

.oops {
  margin: 5rem;
  height: 70vh;
  font-size: 1.6rem;
}
/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header h3 {
  color: var(--grey);
}

.header * {
  margin: 0.7rem auto;
}
/* months div */
.months {
  transform: translateX(20px);
  display: flex;
  align-items: center;
  position: sticky;
  top: -1px;
  left: 0;
  z-index: 80;
  white-space: nowrap;
  background: white;
  overflow-x: auto;
  margin: 0.8rem auto;
  width: auto;
}

.month {
  color: var(--grey);
  font-weight: 500;
  text-decoration: none;
  margin: 0.6rem 0.4rem;
}
.month:last-child {
  padding-right: 3rem;
}

.month:hover {
  color: var(--btn-color);
}

.active {
  background-color: var(--btn-color);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: white;
  box-shadow: 1px 1px 1px var(--grey);
}
.active:hover {
  color: white !important;
}

.story {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  flex-direction: column;
}

.text-secondary {
  color: var(--grey);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

.read {
  text-decoration: none;
  color: white;
  background-color: #38affe;
  padding: 0.8rem 1.3rem;
  border-radius: 10px;
  margin: 1rem;
  transition: 0.5s;
}
.read:hover {
  background-color: #424242;
}

/* images section */
.wrapper {
  width: 90vw;
  margin: 0 auto 4rem auto;
  position: static;
  z-index: 10;
  /* height: auto; */
}
.about-section {
  font-size: 1.2rem;
  margin: 2rem auto;
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
}

/* rows */
.row1,
.row2,
.grid-qt-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0.7rem auto;
  height: 35vh;
  position: static;
  min-height: 250px;
}

.row1,
.row2 {
  height: 35%;
}
.grid-qt img,
.grid-half img {
  width: 100%;
  height: 99%;
  border-radius: 10px;
  transition: 0.6s;
  border: 1px solid #38affe;
}
.grid-qt img:hover,
.grid-half img:hover {
  opacity: 0.7;
  transform: scale(1.02);
}
.grid-half {
  width: 98%;
  min-height: 250px;
  height: 35vh;
  margin: 0.5rem auto;
}

.grid-qt {
  width: 49%;
  padding: 0 0.2rem;
  height: 100%;
}

@media (min-width: 820px) {
  .grid-qt-wrapper,
  .grid-half,
  .grid-qt {
    width: 49%;
    margin: 0 auto;
  }
  .row1,
  .row2 {
    margin: 1.4rem auto;
  }
  .oops {
    margin: 1rem;
  }
  .story {
    flex-direction: row;
  }
  .text-secondary {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .months {
    justify-content: space-evenly;
    width: 100vw;
  }
}
