* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden !important;
  font-size: 14px;
}
#nav {
  position: relative;
}
h1,
h2 {
  padding: 1rem auto;
}

.container {
  max-width: 100vw !important;
  padding: 0 0.8rem !important;
  height: auto;
  margin: 1rem auto !important;
}

.section .row {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.row.container,
.row.section {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  height: auto;
  width: 95vw;
  margin: auto !important;
}
.row h2 {
  margin: 0 2rem;
  text-align: center;
  border: 1px solid black;
}
.col-sm-8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.5rem;
  flex: auto;
  max-width: 80% !important;
}
.col-12 .row {
  height: 100% !important;
  min-height: 40vh;
  display: flex;
  justify-content: space-evenly;
}
#socialmedia.col-sm-1 {
  max-width: 14%;
  flex: auto;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: auto;
  padding: 0;
}
.plac,
.col-lg-5 {
  margin: 6rem auto;
  margin-bottom: 3rem;
  max-width: 27% !important;
  min-width: 310px;
  padding: 0 !important;
  height: 100% !important;
  min-height: 44vh;
  flex: auto !important;
  position: relative !important;
  box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
}
.row h2 {
  margin: 1rem 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid grey;
}
.head {
  text-align: center;
}
.head h1 {
  color: #000000;
  font-weight: 600;
}
.head p {
  color: #6f6f6f;
}
li {
  list-style: none;
}
header a {
  text-decoration: none;
  color: #6f6f6f;
  text-align: center;
}
header {
  position: sticky !important;
  top: 1px;
  z-index: 80;
}
header ul {
  border-bottom: 1px solid #ffae2e;
}
header ul,
.row.header {
  display: flex;
  flex-wrap: nowrap !important;
  align-items: center !important;
  white-space: nowrap !important;
  background: white;
  overflow-x: auto;
  margin: 0.8rem auto !important;
  width: auto !important;
}
@media (min-width: 1024px) {
  header ul,
  .row.header {
    justify-content: space-evenly;
    width: 100vw;
    overflow-x: hidden;
  }
}
.btn-warning {
  background-color: #ffae2e !important;
}

.fa {
  margin-top: 15px;
  color: #000000;
}
.avatar.col-3 {
  max-width: 9rem !important;
  height: 9rem;
  padding: 0 !important;
  position: relative;
  left: 50%;
  border: 2px solid #ffae2e;
  margin-top: -20%;
  transform: translateX(-50%);
}
.avatar2 {
  border-radius: 50%;
}
.box {
  padding-top: 5%;
}
.tag {
  font-size: small;
}
.tag,
.tag2 {
  font-weight: 600;
}

.last {
  margin-bottom: 2em;
}

@media screen and (max-width: 760px) {
  header {
    top: -1px;
  }
  .plac,
  .col-lg-5 {
    max-width: 80% !important;
    min-width: 270px;
  }
  .col-12 .row {
    flex-direction: column;
  }
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row.container,
  .row.section {
    width: 100%;
  }
  .col-sm-8 {
    text-align: center;
    max-width: 100% !important;
  }
  #socialmedia.col-sm-1 {
    flex-direction: row;
    max-width: 90% !important;
    font-size: 1.3rem;
    justify-content: center;
    margin: 0.2rem auto 0.5rem auto;
  }
  #socialmedia.col-sm-1 i {
    margin-left: 0.8rem;
  }
}
