* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
#nav {
  position: relative;
}
.head {
  text-align: center;
}
.head h1 {
  color: #000000;
  font-weight: 600;
  margin: 5% 0 0 0;
}
.head p {
  color: #6f6f6f;
}
li {
  list-style: none;
}
header a {
  text-decoration: none;
  color: #6f6f6f;
  text-align: center;
}
header {
  position: sticky !important;
  top: -1px;
  z-index: 80;
}
header ul {
  text-align: center !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  flex-wrap: wrap;
  background: white;
  margin: 0.8rem auto;
}
.btn-warning {
  background-color: #ffae2e !important;
}
#socialmedia {
  font-size: 140%;
}
.fa {
  margin-top: 15px;
  color: #000000;
}
.avatar {
  width: 40%;
  margin-left: 15%;
  margin-bottom: -10%;
}
.avatar2 {
  border-radius: 50%;
}
.box {
  box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
  padding-top: 15%;
  width: 90%;
}
.section {
  margin-top: 8%;
}
.tag {
  font-size: small;
  margin-top: -5%;
}
.tag,
.tag2 {
  font-weight: 600;
}
.footer {
  margin: auto;
}
.last {
  margin-bottom: 2em;
}

@media screen and (max-width: 1000px) {
  .tag {
    margin-top: -3%;
  }
  .plac {
    margin: 10% auto;
  }
  .box {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
  }
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .avatar {
    margin-left: 30%;
    margin-bottom: -10%;
  }
}
