@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

#nav {
  position: relative;
}

li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
.monthlist {
  padding-left: 20px;
  display: flex;
  align-items: center;
  position: sticky;
  top: -1px;
  left: 0;
  z-index: 80;
  white-space: nowrap;
  background: white;
  overflow-x: auto;
  margin: 0.8rem auto;
  width: auto;
  border-bottom: 1px solid #ffae2e;
}
.text-center {
  margin: 1rem;
}
h1.text-center {
  font-family: sans-serif;
}
p.text-center,
.monthlist {
  color: #6f6f6f;
  font-size: 1rem;
}
.month {
  color: var(--grey);
  font-weight: 500;
  text-decoration: none;
  margin: 0.6rem 0.4rem;
  padding: 0.4rem 0.6rem;
}
.month:last-child {
  margin-right: 3rem;
}
.dots,
.more {
  display: none;
}

.monthlist a:hover {
  text-decoration: none !important;
  color: white !important;
  background: #ffae2e;
  box-shadow: 1px 1px 1px grey;
  border-radius: 10px;
}

header h1 {
  font-weight: 600;
  color: black;
}

.monthImage {
  border-radius: 27.5477px !important;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.monthBody {
  height: 65%;
}
.monthBody h5 {
  font-weight: 600;
}
.text-wrap {
  padding-bottom: 1.5rem;
}
.monthBody p {
  color: #6f6f6f;
}
.container.months,
section {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 100vw !important;
}
.monthBox {
  background: #ffffff;
  box-shadow: 0px 2px 6.88691px 2px rgba(98, 98, 98, 0.22);
  border-radius: 27px;
  /* width: 70vw; */
  max-width: 700px;
  width: 40vw;
  position: relative;
  margin: 3rem auto !important;
}

.carousel-item img {
  height: 220px;
  border-radius: 20px 20px 0 0;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: 0.6s transform;
  }
}
.carousel-indicators li {
  position: relative;
  border-radius: 50%;
  height: 10px !important;
  width: 10px !important;
  z-index: 20;
  background-color: rgba(230, 227, 227, 0.904);
}

.carousel-indicators .active {
  background-color: #2980b9;
}
.monthImage .row {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  width: 91%;
  height: auto;
  position: absolute;
  bottom: 1.5rem;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  margin: auto !important;
}

.btn-card {
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0.8rem;
  text-align: center;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: white !important;
  transition: 0.5s;
}

.cardbtn {
  background: #38affe;
}
.cardbtn2 {
  background: rgba(254, 64, 59, 1);
}
.cardbtn:hover,
.button:hover,
.cardbtn2:hover {
  background-color: #3a3939;
  color: white;
}
.card-text {
  padding-bottom: 1rem;
}
@media (max-width: 500px) {
  .monthImage {
    padding-bottom: 0;
  }
  .btn-card {
    font-size: 0.7rem;
    padding: 0.7rem;
  }
}
@media only screen and (max-width: 800px) {
  .monthBox {
    width: 80vw;
    max-width: 650px;
  }
}
@media (min-width: 1024px) {
  .monthlist {
    justify-content: space-around;
    width: 100vw;
    padding-left: 0;
  }
  .month:last-child {
    margin-right: 0;
  }
}
