@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito" !important;
  background-color: white;
  width: 100vw;
  overflow-x: hidden !important;
}

a {
  text-decoration: none !important;
  color: white;
}
a:hover {
  text-decoration: none;
}

.header {
  background: url(../images/Rectangle\ 93.png);
  height: 70vh;
  max-height: 90vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
@media (max-width: 340px) {
  .header {
    height: 83vh;
  }
}

.header::before,
.team-img::before {
  width: 100%;
  content: "";
  height: 100%;
  background-color: rgba(0, 14, 45, 0.63);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-text {
  position: absolute;
  width: 70%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
  padding: 2rem auto;
}
.header-text h1 {
  font-size: 1.7rem;
}
.header-text p {
  font-size: 0.85rem;
}

.word h4 {
  font-size: 1.2rem;
  color: #6f6f6f;
  font-weight: 400;
}

.upto {
  text-align: center;
  width: 85vw;
  padding: 1.5rem;
  margin: 1.5rem auto;
  height: auto;
}

.button {
  width: 50%;
  background: rgba(254, 64, 59, 1);
  border: none;
  text-align: center;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

.cardcontainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin: 2rem auto;
}
.cards {
  border-radius: 15px;
  width: 90%;
  position: relative;
  max-width: 300px;
  box-shadow: -1px 1px 3px 1px #5353535b;
  padding-bottom: 1rem;
  margin: 1rem auto;
  height: auto;
  align-items: stretch;
}
.cardTitle {
  font-weight: 600;
  font-size: 1.2rem;
}

.cardP {
  font-size: 0.9rem !important;
  line-height: 1.3;
}
.cards img {
  height: 150px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
@media (min-width: 760px) {
  .cards img {
    height: 45%;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  margin: 1rem;
  line-height: 1;
  text-align: left;
}
.cards-info {
  text-align: left;
  height: 83%;
  width: 100%;
  padding-bottom: 1rem;
}
.cards-info p,
.cards-info h5 {
  margin: 1rem;
}

.cardbtn {
  width: 40vw;
  font-size: 1rem;
  margin: 1rem;
  color: white;
  padding: 0.8rem;
  height: 60px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background: #38affe;
  font-weight: bold;
  color: white;
  transition: 0.5s;
}
.cardbtn:hover,
.button:hover {
  background-color: #3a3939;
  color: white;
}

.gallerycontainer {
  text-align: center;
}

.rows {
  width: 95%;
  margin: 10px auto;
  text-align: center;
  display: flex;
}
#ecx1,
#ecx6 {
  display: none;
}

.rows a {
  width: 30%;
  align-self: center;
}
.m1 {
  width: 58%;
}
.m2 {
  width: 42%;
}
#ecx1 {
  background-image: url(../images/mar10.jpg);
}

#ecx2 {
  background-image: url(../images/mar13.jpg);
}
#ecx3 {
  background-image: url(../images/apr-cont.jpg);
}
#ecx4 {
  background-image: url(../images/jan1.jpg);
}
#ecx5 {
  background-image: url(../images/july1.jpg);
}
#ecx6 {
  background-image: url(../images/feb1.jpg);
}

.griditems {
  max-height: 40vh;
  min-height: 300px;
  border-radius: 10px;
  margin: 15px;
  transition: 1s;
  background-size: 100% 100%;
  background-position: center;
}

.testimonialcontainer {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.carousel-wrapper {
  max-width: 80vw !important;
  margin: auto;
  height: 100%;
}
.carousel-control-prev,
.carousel-control-next {
  display: flex;
  position: absolute !important;
  top: 40% !important;
  transform: translateY(-40%) !important;
  width: 10% !important;
  height: 70% !important;
  z-index: 20 !important;
  opacity: 1;
}
.carousel-control-prev {
  left: -2rem !important;
}
.carousel-control-next {
  right: -2rem !important;
}

.carousel-control-next-icon {
  background-image: url(../images/arrow-right.svg) !important;
}
.carousel-control-prev-icon {
  background-image: url(../images/arrow-left.svg) !important;
}
.carousel-item,
video {
  width: 100%;
  transition: 0.5s ease;
}
.carousel-indicators li {
  position: relative !important;
  background-color: rgb(27, 27, 27) !important;
  border-radius: 50% !important;
  height: 20px !important;
  width: 20px !important;
  z-index: 20 !important;
  bottom: -4rem !important;
}

.topstd {
  display: flex;
  flex-direction: row;
}

.ol {
  color: black;
}

.testimonial-container {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.twitter-card,
.student-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin: 2rem auto;
  border-radius: 15px;
}

.student-card {
  padding: 0.4rem 0.8rem 1rem 0.8rem;
  box-shadow: -1px 1px 3px #ffaf2ecc;
}

.twitter-card {
  box-shadow: -1px 1px 3px #00a6ff5d;
  padding: 0.8rem;
}
.card-text {
  font-size: 0.8rem;
  line-height: 1.5;
}

.testimonial-container img {
  border-radius: 50%;
}

.avatar-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.info-text {
  padding-left: 0.3rem;
}

.info-text p {
  font-size: 0.7rem;
}

.info-text > h3 {
  font-size: 0.9rem;
  font-weight: 600;
}

.student-card img {
  width: 50px;
  height: 50px;
  position: relative;
  top: -1.2rem;
  left: 0;
}
.twitter-card img {
  width: 40px;
  height: 40px;
}

.twittercontainer {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  align-content: center;
}

.container {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  align-content: center;
}

.team-img {
  /* height: 50vh; */
  min-height: 400px;
  width: 90%;
  margin: auto;
  background-image: url(../images/Rectangle\ 17.png);
  position: relative;
}
.team-img::before {
  background-color: rgba(0, 14, 45, 0.4);
  border-radius: 10px;
}
.btncont {
  display: flex;
  flex-direction: column;
  width: auto;
}
.btncont * {
  margin: 1rem auto;
}
@media only screen and (min-width: 700px) {
  .header {
    height: 70vh;
    max-height: 500px;
  }
  .header-text h1 {
    font-size: 3.2rem;
  }
  .header-text p {
    font-size: 1rem;
  }
  .cards {
    width: 25%;
    min-width: 280px;
    height: 430px;
  }
  .word h4 {
    font-weight: 600;
  }
  .cardcontainer {
    flex-direction: row;
  }
  .cardbtn {
    width: 25vw;
    font-size: 1.2rem;
  }
  .student-card img {
    width: 105px;
    height: 105px;
    position: relative;
    left: -1.5rem;
  }
  .twitter-card img {
    width: 70px;
    height: 70px;
  }
  .twitter-card,
  .student-card {
    width: 30%;
    min-width: 250px;
  }

  .twitter-card .info-text {
    padding-left: 1rem;
  }

  .info-text > p {
    font-size: 0.7rem;
  }

  .info-text > h3 {
    font-size: 1rem;
    padding: 0.4rem 0;
  }

  .card-text {
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }
  .student-card img {
    top: -1rem;
    left: -1.5rem;
  }
  .rows {
    width: 88%;
  }
  .rows a {
    display: none;
  }
  .griditem1 {
    width: 50%;
  }
  .griditem1q {
    width: 25%;
  }
  #ecx1,
  #ecx5,
  #ecx6 {
    display: block;
  }
  .carousel-wrapper {
    width: 80vw;
  }
  .carousel-control-prev {
    left: -4rem !important;
  }
  .carousel-control-next {
    right: -4rem !important;
  }
  .btncont {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 1024px) {
  .carousel-control-prev {
    left: -6rem !important;
  }
  .carousel-control-next {
    right: -6rem !important;
  }
}
